@model Pizza

@{
    ViewData["Title"] = "Delete Pizza";
}

<h2>Cancella Pizza</h2>

<h3>Sei sicuro di voler cancellare questa Pizza?</h3>
<div>
    <h4>Pizza</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2 border-bottom border-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2 border-bottom border-2">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Foto)
            <img src="@Model.Foto" alt="Pizza Image" style="max-width:200px;" />
        </dd>
        <dt class="col-sm-2 border-bottom border-2">
            @Html.DisplayNameFor(model => model.Prezzo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prezzo)
        </dd>
        <dt class="col-sm-2 border-bottom border-2">
            @Html.DisplayNameFor(model => model.Tempo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tempo)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Cancella" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Torna alla Lista</a>
    </form>
</div>
